//- extends main
extends posts

block posttitle
	h2.title: a(href="/blog") Bias and Sandwiches
	h6.subtitle I say things sometimes, I guess

block postscontent
	section
		article#article
			header.post-header
				h2.title= title
				span
					time #{moment(publishDate).format('M.D.YYYY')}
			section
				.contents!= contents
				#disqus_thread
				script.
					var disqus_config = function () {
						this.page.url = '#{site.url}/#{path}';  // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = '#{path}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
					};
					(function() {  // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');

						s.src = '//biasandsandwiches.disqus.com/embed.js';

						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
					})();
				noscript
					| Please enable JavaScript to view the 
					a(href="https://disqus.com/?ref_noscript" rel="nofollow")
						| comments powered by Disqus.
